# LIST

A list is a versatile and fundamental data structure that allows you to store an ordered collection of items,

that can hold various types of data, such as numbers, strings, or even other lists.

it can be represented by using the square brackets[ ]

each & every element is divided by using ' ,'

list is mutable (can change,modify and update)

In [17]:
age = [1,2,3,4]

In [19]:
char = ['a','b','c','d']

mul = [24,35.5,True,3+1j,'teks']

In [22]:
ranks = ["2", "3", "4", "5", "6", "7", "8", "9", "10", "Jack", "Queen", "King", "Ace"]

In [24]:
student_scores = [85, 92, 78, 95, 88]

In [26]:
x = [1,2,3.5,False]

# INDEX

To Access single element from a list we use index

index is divided into two types 

1.Positive index: starts from 0 to infinity and calculated from left to right.

2.Negative index: starts from -1 to -infinity and calculated from right to left.

# examples

In [52]:
mam = [1,2,3,4,5]
mam[2]

3

In [48]:
index = ['sam','nikitha','nandu','padma','anju']
index[-2]

'padma'

In [50]:
sam = [1,3.2,8,9,5]
sam[2]

8

In [54]:
prices = [20,30,50,49,38]
prices[-3]

50

In [56]:
student2 = [89,45,67,98,45,78,89]
student2[2]

67

# SLICING

To Access more than two element from a list we use slicing

ending index is calculated as n-1

example : [1,2,3,4,5,6,7,8]

syntax = letter[starting index : ending index]

ending index [n-1]

# examples

In [3]:
letter = [1,2,3,4,5,6,7,8]
letter[1:7]

[2, 3, 4, 5, 6, 7]

In [7]:
letter [1:]

[2, 3, 4, 5, 6, 7, 8]

In [9]:
letter[:]

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
letter[-8:-2]

[1, 2, 3, 4, 5, 6]