# LOOP STATEMENTS

a loop statement is a control structure that allows you to repeat a block of code multiple times, either for a specified number of 

iterations or until a certain condition is met.

# 1)WHILE LOOP:

The while loop repeatedly executes a block of code as long as a given condition is True. It stops when the condition becomes False.

In [1]:
i = 0
while i<=5:
    print(i)
    i = i+1

0
1
2
3
4
5

In [5]:
i = 15
while i <=150:
    print(i)
    i = i+10

15
25
35
45
55
65
75
85
95
105
115
125
135
145

# 2)FOR LOOP:

The for loop in Python is used to iterate over a sequence (like a list, tuple, string, or range) or any iterable object. It executes the block of code for each item in the sequence.

In [26]:
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [28]:
age = [24,35,62,34,18,20]
for i in age:
    print("my age is :",i)

my age is : 24
my age is : 35
my age is : 62
my age is : 34
my age is : 18
my age is : 20

In [30]:
string = "python"
for i in string:
    print(i)

p
y
t
h
o
n

In [32]:
tup = ("apple","banana","sampath_yadav")
for sampath in tup:
    print(sampath)

apple
banana
sampath_yadav

In [1]:
st = {1,2,3,423,24,534,64,64,75,34,85,64,89,45,32,75,90}
for i in st:
    print(i)

64
1
2
3
34
32
423
75
45
85
534
24
89
90

In [52]:
dict = {"name":"sam","age":20,"location":"hyd"}
for key,value in dict.items():
    print(f'my key is {key} and my value is {value}')

my key is name and my value is sam
my key is age and my value is 20
my key is location and my value is hyd

# CONTROL STATEMENTS

used for the flow of the outputs

1) pass statement:

In [60]:
for i in range(5):
    if i == 2:
        pass
    else:
        print(i)

0
1
3
4

2) continue statement

In [67]:
for i in range(1,10):
    if i == 6:
        continue
    else:
        print(i)

1
2
3
4
5
7
8
9

3) break statement

In [69]:
for i in range(1,9):
    if i == 7:
        break
    else:
        print(i)

1
2
3
4
5
6